body {
    margin: 0;
    background-color: #FDFBF9;
}
.App {
  text-align: center;
  border: 1px solid blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: block;
  /* border: 1px solid magenta; */
}
/*
//***********************************************************
//*          NAV BAR
//***********************************************************

 */
.left-nav {
  position: absolute;
  /* border: 1px solid blue; */
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
}

.navigation-menu {
  /* border: 1px solid cyan; */
  display:flex;
  width: 180px;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 600;
  background-color: rgb(44, 19, 56);
  flex-direction: column;
  position: fixed;
  /* justify-content:space-around; */

}

.flexbox-item {
  /* border: 1px solid white; */
  /* max-height: 32px; */
  min-height: calc(25.6px);
  /* width:100%; */
}

.nav-header-flexbox {
  padding: 10px;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 66px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column; */
}

.nav-section1-flexitem {
  padding: 11px;
  /* padding-left: 12px;
  padding-right: 12px; */

}

.nav-section2-flexitem {
  padding: 11px;
}

.nav-section3-flexitem {
  padding: 11px;
}

.nav-section4-flexitem {
    width: 160px;
  padding: 11px;
  /* border: 1px solid grey; */
  position: absolute;
  bottom: 0px;

}


.menu-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
//***********************************************************
//*         Streams Right Pane
//***********************************************************
 */
.right-pane {
  margin-left: 180px;
}

.right-pane-inner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.content-container-flex {
  /* border-top: 2px solid orange; */

  height: 70vh;
  padding: 30px;
  display: flex;
  background-color: #FDFBF9;
}

.header-container {
  /* border: 1px solid red; */
  height: 60px;
  display: flex;
  top: 5px;
  margin-bottom: 4px;
  /* position: fixed; */
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
  background-color: white;
}

/*
//***********************************************************
//*         Streams Table
//***********************************************************
 */
 /*
 //*****************
 //*     Overall Table container
 //*****************
  */
.streams-table-container {
  border: 2px solid #ababab;
  height: 88%;
  width:75%;
  min-width: 610px;
  border-radius: 7px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
}
/*
//*****************
//*     Table Head Flex Container
//*****************
 */

.table-head-flex-container {
  border-bottom: 0.1rem solid #ababab;
  font-size: 80%;
  font-weight: 100;
  display: flex;
  /* position: -webkit-sticky; */
  position: sticky;
  top:0;
  background-color: #FDFBF9;
  /* justify-content: space-around; */
  padding: 7px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
  z-index: 4;
}

.hover-text {
  visibility: hidden;
  font-size: larger;
  position: absolute;
  text-align: center;
}
/*
//*****************
//*     Table Head Span ID tags
//*****************
 */

#TH1 {

}

#TH2 {
  margin-left: 0.5em;
}

#TH3 {

}

#TH4 {
  text-align: left;
}

#TH5 {

}

#TH6 {

}

#TH7 {

}

#TH8 {

}

/*
//*****************
//*     Table Row Flex Container
//*****************
 */
.table-row-flex-container {
  display: flex;
  min-height: 42px;
  max-height: 50px;
  align-items: center;
  margin-top: 10px;

}
.table-row-cells {
    font-family: arial;
}
/*
.MuiSpeedDial-fab {
    background-color: black;
} */

/*
//***********************************************************
//*          Trades Table
//***********************************************************
 */
.trades-helper-container-flex {
    position:absolute;
    /* border: 1px solid blue; */
    /* justify-content: center; */
    display: flex;
    width: 96%;
    height: 70%;
}

 .trades-helper-dialogue {
     margin: auto;
     font-family: "Calibri", sans-serif;
     font-size: 0.9em;
 }
